<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:wallet-saas-dev.wallyt.net</string>
		<string>applinks:tiqmolink.page.link</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.tiqmo.ksa.checkout.applepay.preprod</string>
		<string>merchant.tiqmo.ksa.hyperpay.applepay.preprod</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.developer.payment-pass-provisioning</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.tiqmo.wallet.ksa.uat.appleExtensionUAT</string>
		<string>group.com.tiqmo.wallet.ksa.uat</string>
	</array>
</dict>
</plist>
